* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

.bg-black {
    background-color: black;
}

h1 {
    font-size: 8rem;
    font-weight: 100;
}

.txt-centre {
    text-align: center;
    margin-top: 3rem;
}

.txt-white {
    color: white;
}

.btn-start {
    text-decoration: none;
    font-size: 12rem;
    padding: 1rem 6rem;
    border: 5px solid white;
    color: rgb(4, 172, 233);
    animation-name: startbutton;
    animation-duration:  4s;
    animation-iteration-count: infinite;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#buzzfizz div {
    font-size: 4rem;
    font-weight: 100;
}

.container {
    width: 80%;
    margin: auto;
}

.buzzStyle, .buzzfizzStyle, .fizzStyle, .standard {
    margin-right: 2rem;
    margin-top: 1rem;
}

#buzzfizz {
    margin-top : 2rem;
}

.buzzfizzStyle {
    color: black;
    background-color:  rgb(1, 132, 23);
}

.standard {
    color: rgb(1, 132, 23);
}

.buzzStyle {
    color: rgb(4, 172, 233);
}

.fizzStyle {
    color: rgb(238, 205, 38);

}

@keyframes fadein {
    0% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes startbutton {
    50% {color: rgb(238, 205, 38);
    }
    
}